<!DOCTYPE html>
{% load static %}


<!-- testimonial Section Start -->
<div id="testimonial" class="section" data-stellar-background-ratio="0.1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-12">
        <div class="touch-slider owl-carousel owl-theme">
          <div class="testimonial-item">
            <img src="{% static 'img/testimonial/customer1.jpg' %}" alt="Client Testimonoal" />
            <div class="testimonial-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. send do <br> adipisicing ciusmod tempor incididunt ut labore et</p>
              <h3>Jone Deam</h3>
              <span>Fondor of Jalmori</span>
            </div>
          </div>
          <div class="testimonial-item">
            <img src="{% static 'img/testimonial/customer2.jpg' %}" alt="Client Testimonoal" />
            <div class="testimonial-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. send do <br> adipisicing ciusmod tempor incididunt ut labore et</p>
              <h3>Oidila Matik</h3>
              <span>President Lexo Inc</span>
            </div>
          </div>
          <div class="testimonial-item">
            <img src="{% static 'img/testimonial/customer3.jpg' %}" alt="Client Testimonoal" />
            <div class="testimonial-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. send do <br> adipisicing ciusmod tempor incididunt ut labore et</p>
              <h3>Alex Dattilo</h3>
              <span>CEO Optima Inc</span>
            </div>
          </div>
          <div class="testimonial-item">
            <img src="{% static 'img/testimonial/customer4.jpg' %}" alt="Client Testimonoal" />
            <div class="testimonial-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. send do <br> adipisicing ciusmod tempor incididunt ut labore et</p>
              <h3>Paul Kowalsy</h3>
              <span>CEO & Founder</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonial Section Start -->