<!DOCTYPE html>
{% load static %}

<!-- Start Video promo Section -->
<section class="video-promo section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
          <div class="video-promo-content text-center">
            <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Watch Our Intro video</h2>
            <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. Vestibulum congue posuere lacus, id tincidunt nisi porta sit amet. Suspendisse et sapien varius, pellentesque dui non, semper orci.</p>
            <a href="https://www.youtube.com/watch?v=IXoMDwh4Cq8" class="video-popup wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s"><i class="lnr lnr-film-play"></i></a>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- End Video Promo Section -->