{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

  {% include 'service/service.html' %}

  {% include 'features/feature.html' %}

  {% include 'portifolio/portifolio.html' %}

  {% include 'video_media/video.html' %}

  {% include 'pricing/price.html' %}

  {% include 'counter/counter.html' %}

  {% include 'team/team.html' %}

  {% include 'testemonial/testemonial.html' %}

  {% include 'blog/blog.html' %}

  {% include 'contact/contact.html' %}

{% endblock %}
