<!DOCTYPE html>
{% load static %}

<!-- Team section Start -->
<section id="team" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Nossa equipe</h2>
      <hr class="lines">
      <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <img src="{% static 'img/team/team-01.png' %}" alt="">
          <div class="team-details">
            <div class="team-inner">
              <h4 class="team-title">Jhon Doe</h4>
              <p>Chief Technical Officer</p>
              <ul class="social-list">
                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <img src="{% static 'img/team/team-02.png' %}" alt="">
          <div class="team-details">
            <div class="team-inner">
              <h4 class="team-title">Emilly Williams</h4>
              <p>CEO & Co-Founder</p>
              <ul class="social-list">
                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <img src="{% static 'img/team/team-03.png' %}" alt="">
          <div class="team-details">
            <div class="team-inner">
              <h4 class="team-title">Paul Kowalsy</h4>
              <p>Business Manager</p>
              <ul class="social-list">
                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <img class="img-fulid" src="{% static 'img/team/team-04.png' %}" alt="">
          <div class="team-details">
            <div class="team-inner">
              <h4 class="team-title">Patricia Green</h4>
              <p>Graphic Designer</p>
              <ul class="social-list">
                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team section End -->