<!DOCTYPE html>
{% load static %}

<!-- Features Section Start -->
<section id="features" class="section" data-stellar-background-ratio="0.2">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Diferencial pedagócico</h2>
      <hr class="lines">
      <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="container">
          <div class="row">
             <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                <span class="icon">
                  <i class="lnr lnr-rocket"></i>
                </span>
                <div class="text">
                  <h4>Aula de reforço</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                <span class="icon">
                  <i class="lnr lnr-laptop-phone"></i>
                </span>
                <div class="text">
                  <h4>Introdução a tecnologias</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                <span class="icon">
                  <i class="lnr lnr-layers"></i>
                </span>
                <div class="text">
                  <h4>Contéudos especializados</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                <span class="icon">
                  <i class="lnr lnr-cog"></i>
                </span>
                <div class="text">
                  <h4>Aulas Interativas</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-12">
        <div class="show-box">
          <img class="img-fulid" src="{% static 'img/features/feature.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- Features Section End -->