<!DOCTYPE html>
{% load static %}

<!-- Blog Section -->
<section id="blog" class="section">
  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Recent Blog</h2>
      <hr class="lines">
      <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img src="{% static 'img/blog/img1.jpg' %}" alt="">
            </a>
          </div>
          <div class="blog-item-text">
            <div class="meta-tags">
              <span class="date"><i class="lnr  lnr-clock"></i>2 Days Ago</span>
              <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i> 24 Comments</a></span>
            </div>
            <h3>
              <a href="single-post.html">How often should you tweet?</a>
            </h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            </p>
            <a href="single-post.html" class="btn-rm">Read More <i class="lnr lnr-arrow-right"></i></a>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img src="{% static 'img/blog/img2.jpg' %}" alt="">
            </a>
          </div>
          <div class="blog-item-text">
            <div class="meta-tags">
              <span class="date"><i class="lnr  lnr-clock"></i>2 Days Ago</span>
              <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i> 24 Comments</a></span>
            </div>
            <h3>
              <a href="single-post.html">Content is still king</a>
            </h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            </p>
            <a href="single-post.html" class="btn-rm">Read More <i class="lnr lnr-arrow-right"></i></a>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img src="{% static 'img/blog/img3.jpg' %}" alt="">
            </a>
          </div>
          <div class="blog-item-text">
            <div class="meta-tags">
              <span class="date"><i class="lnr  lnr-clock"></i>2 Days Ago</span>
              <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i> 24 Comments</a></span>
            </div>
            <h3>
              <a href="single-post.html">Social media at work</a>
            </h3>
            <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            </p>
            <a href="single-post.html" class="btn-rm">Read More <i class="lnr lnr-arrow-right"></i></a>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>
    </div>
  </div>
</section>
<!-- blog Section End -->