<!DOCTYPE html>
{% load static %}

<!-- Start Pricing Table Section -->
<div id="pricing" class="section pricing-section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Tabela de Mensalidades</h2>
      <hr class="lines">
      <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p>
    </div>

    <div class="row pricing-tables">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table">
          <div class="pricing-details">
            <h2>Educação Infantil</h2>
            <span>3 a 6 anos</span>
            <ul>
              <li>Consectetur adipiscing</li>
              <li>Nunc luctus nulla et tellus</li>
              <li>Suspendisse quis metus</li>
              <li>Vestibul varius fermentum erat</li>
            </ul>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-common">Mensalidades</a>
          </div>
        </div>
      </div>

       <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table">
          <div class="pricing-details">
            <h2>Educação Fund I e II</h2>
            <span>7 a 9 anos</span>
            <ul>
              <li>Consectetur adipiscing</li>
              <li>Nunc luctus nulla et tellus</li>
              <li>Suspendisse quis metus</li>
              <li>Vestibul varius fermentum erat</li>
            </ul>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-common">Mensalidades</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table">
          <div class="pricing-details">
            <h2>Ensino Médio</h2>
            <span>10 a 16 anos</span>
            <ul>
              <li>Consectetur adipiscing</li>
              <li>Nunc luctus nulla et tellus</li>
              <li>Suspendisse quis metus</li>
              <li>Vestibul varius fermentum erat</li>
            </ul>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-common">Mensalidades</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Pricing Table Section -->