<!DOCTYPE html>
{% load static %}

<!-- Services Section Start -->
<section id="services" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Nossos Serviços</h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
          <div class="icon">
            <i class="lnr lnr-pencil"></i>
          </div>
          <h4>Corpo docente</h4>
          <p>Foco no aprendizado e no conteúdo programático.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
          <div class="icon">
            <i class="lnr lnr-graduation-hat"></i>
          </div>
          <h4>Qualidade educacional</h4>
          <p>Foco no aluno e na sua percepção de mundo.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
          <div class="icon">
            <i class="lnr lnr-book"></i>
          </div>
          <h4>Acompanhamento pedagógico</h4>
          <p>Foco na aplicabilidade do conteúdo aprendido.</p>
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- Services Section End -->